VOICEBOX_BASE_URL=http://127.0.0.1:17493
VOICEBOX_PROFILE_ID=
DIAL_TO_NUMBER=
DIAL_GREETING=Hello, this is a test call from Voicebox.

SIP_DOMAIN=sip.ringcentral.com
SIP_OUTBOUND_PROXY=sip10.ringcentral.com:5096
SIP_USERNAME=
SIP_PASSWORD=
SIP_AUTHORIZATION_ID=

RINGCENTRAL_DEBUG=false
CALL_MEDIA_START_DELAY_MS=5000
CALL_HANGUP_AFTER_GREETING=true
